body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gif {
    height: 80vh;
}